%table
  %thead
    %tr
      %th BTC/LTC
      - @rates.each_key do |exchange|
        %th= exchange
  %tbody
    - @rates.each do |exchange, buy_rate|
      %tr
        %th{scope: :row}= exchange
        - @rates.each do |exchange, sell_rate|
          - profit = arbitrage_profit(buy_rate.buy, sell_rate.sell, buy_rate.fee)
          %td{bgcolor: (profit > 0) ? 'green' : 'red'}= print_arbitrage_profit(profit, buy_rate.buy, sell_rate.sell)
